body {
    background-color: #000;
    color: white;
    font-family: Arial;
    padding: 20px;
}

.heading {
    font-size: 32px;
    margin-bottom: 20px;
}

.movie-row {
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

.movie-card {
    width: 200px;
}

.movie-card img {
    width: 100%;
    border-radius: 6px;
}

.movie-title {
    margin-top: 8px;
    font-size: 18px;
    text-align: center;
}